<app-navbar2></app-navbar2>
<section class="container">
    <h1 class="large text-primary">
        Add an Experience
    </h1>
    <p class="lead">
        <i class="fas fa-user-tie"></i> Add any developer / programming positions that you had in the past
    </p>
    <small>* = required fields</small>
    <form class="form" (ngSubmit)="addExperience()">
        <div class="form-group">
            <input type="text" placeholder="* Job Title" name="title" required [(ngModel)] = "newExperience.position"/>
        </div>
        <div class="form-group">
            <input type="text" placeholder="* Company" name="company" required [(ngModel)] = "newExperience.company"/>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Location" name="location" [(ngModel)] = "newExperience.location"/>
        </div>
        <div class="form-group">
            <h4>From Date</h4>
            <input type="date" name="from" [(ngModel)] = "newExperience.fromDate"/>
        </div>
        <div class="form-group">
            <h4>To Date</h4>
            <input type="date" name="to" [(ngModel)]= "newExperience.toDate"/>
        </div>
        <div class="form-group">
            <p><input type="checkbox" name="current" value="" /> Current Job</p>
        </div>
        <div class="form-group">
            <textarea name="description" cols="30" rows="5" placeholder="Job Description" [(ngModel)] = "newExperience.description"></textarea>
        </div>
        <input type="submit" class="btn btn-primary my-1" />
        <a class="btn my-1"  routerLink="/dashboard">Go Back</a>
    </form>
</section>



